*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.body {
  background-color: #fdf9f7;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.body .container {
  width: 50%;
  position: relative;
}

.body .container table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 60%;
}

.body .container table td,
.body .container table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.body .container table tr:nth-child(even) {
  background-color: #f5ecec;
}

.body .container .previousResults {
  text-decoration: none;
  border: 1px solid #0d0d0d;
  color: #0d0d0d;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  top: 0.5rem;
  right: -1rem;
}

.body .container .mainHeader {
  margin-top: 20%;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.body .container .question {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.body .container .answerSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .container .answerSelect .answerContianer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .container .answerSelect .answerContianer .answerRadio {
  display: none;
}

.body .container .answerSelect .answerContianer .answerRadio:checked + .answerLabel {
  background-color: #ae613b;
  color: white;
}

.body .container .answerSelect .answerContianer .answerLabel {
  background: #bfb6b1;
  border-radius: 5px;
  padding: 2rem 5rem;
  margin: 0.5rem 0.5rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.body .container .answerSelect .answerContianer .answerLabel:hover {
  cursor: pointer;
}

.body .container .answerSelect .buttonContainer .confirmAnswer {
  margin: 2rem 0;
  outline: none;
  background-color: #0d0d0d;
  border: none;
  color: #fdf9f7;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.body .container .answerSelect .buttonContainer .confirmAnswer:hover {
  opacity: 0.9;
  cursor: pointer;
}

.body .container .formSelect {
  width: 50%;
  margin: auto;
  display: block;
}

.body .container .formSelect .playerName {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 100%;
  margin: 1rem 0;
}

.body .container .formSelect .quizSelect {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
}

.body .container .formSelect .submit {
  outline: none;
  background-color: #0d0d0d;
  border: none;
  color: #fdf9f7;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.body .container .formSelect .submit:hover {
  opacity: 0.98;
  cursor: pointer;
}

.body .container .resultButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .container .resultButton input {
  outline: none;
  background-color: #0d0d0d;
  border: none;
  color: #fdf9f7;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin: 0 0.5rem;
}

.body .container .resultButton input:hover {
  opacity: 0.98;
  cursor: pointer;
}

.body .container .playAgain {
  text-decoration: none;
  color: #0d0d0d;
  border: 1px solid #0d0d0d;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */