@import "variables";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.body {
  background-color: $backgroundColor;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column; //for better var_dump visibility
  justify-content: center;
  align-items: center;
  // height: 100vh;
  text-align: center;

  .container {
    width: 50%;
    position: relative;

    table {
      border-collapse: collapse;
      margin: 0 auto;
      width: 60%;

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        text-align: center;
      }

      tr:nth-child(even) {
        background-color: #f5ecec;
      }
    }

    .previousResults {
      text-decoration: none;
      border: 1px solid $dark;
      color: $dark;
      border-radius: 5px;
      padding: 1rem;
      position: absolute;
      top: 0.5rem;
      right: -1rem;
    }

    .mainHeader {
      margin-top: 20%;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }

    .question {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 1.5rem;
    }

    .answerSelect {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .answerContianer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .answerRadio {
          display: none;

          &:checked + .answerLabel {
            background-color: $buttonBorder;
            color: white;
          }
        }

        .answerLabel {
          background: $buttonColor;
          border-radius: 5px;
          padding: 2rem 5rem;
          margin: 0.5rem 0.5rem;
          flex-basis: 40%;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .buttonContainer {
        .confirmAnswer {
          // flex-basis: 100%;
          margin: 2rem 0;
          outline: none;
          background-color: $dark;
          border: none;
          color: $backgroundColor;
          padding: 1rem 2rem;
          border-radius: 5px;

          &:hover {
            opacity: 0.9;
            cursor: pointer;
          }
        }
      }
    }

    .formSelect {
      width: 50%;
      margin: auto;
      display: block;

      .playerName {
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        width: 100%;
        margin: 1rem 0;
      }

      .quizSelect {
        flex: 3;
        padding: 0.5rem;
        margin-right: 0.5rem;
        width: 100%;
      }

      .submit {
        outline: none;
        background-color: $dark;
        border: none;
        color: $backgroundColor;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-top: 1rem;

        &:hover {
          opacity: 0.98;
          cursor: pointer;
        }
      }
    }

    .resultButton {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        outline: none;
        background-color: $dark;
        border: none;
        color: $backgroundColor;
        padding: 0.5rem 2rem;
        border-radius: 5px;
        margin: 0 0.5rem;

        &:hover {
          opacity: 0.98;
          cursor: pointer;
        }
      }
    }

    .playAgain {
      text-decoration: none;
      color: $dark;
      border: 1px solid $dark;
      border-radius: 5px;
      padding: 0.5rem 2rem;
      margin-top: 1rem;
      display: inline-block;
    }
  }
}
